<% provide(:title, "About") %>


<div id="page_loader" class="page_loader">
	
			<div id="loader"></div>
		</div>

		<!-- - - - - - - - - - - - - - Cookie Control & Old ie Message - - - - - - - - - - - - - - - - -->

		<div class="messages_wrap">

			<!-- - - - - - - - - - - - - - Old IE Message - - - - - - - - - - - - - - - - -->

			<!--[if lt IE 9]>

			<div class="old_ie_message">

				<div class="on_the_sides">

					<div class="left_side">

						<i class="icon-attention"></i> <b>Attention!</b> This page may not display correctly. You are using an outdated version of Internet Explorer. For a faster, safer browsing experience.

					</div>

					<div class="right_side">

						<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode" class="btn small transparent black" target="_blank">Update Now!</a>

					</div>

				</div>

			</div>

			<![endif]-->

			<!-- - - - - - - - - - - - - - End of Old IE Message - - - - - - - - - - - - - - - - -->

		</div>

		<!-- - - - - - - - - - - - - - End of Cookie Control & Old ie Message - - - - - - - - - - - - - - - - -->

		<div id="document_wrap">

			

			<!-- - - - - - - - - - - - - - Extended Block (image, gmap) - - - - - - - - - - - - - - - - -->

			<div class="extended_wrap" data-image-url="images/top_image_4.jpg"></div>

			<!-- - - - - - - - - - - - - - End of Extended Block - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Page content - - - - - - - - - - - - - - - - -->

			<div id="page_wrap">

				<main role="main">

					<div class="container">

						<h1>About</h1>

						<img class="alignright" src="images/about_img_1.jpg" alt="">

						<p>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel. </p>

						<p>Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in <a href="#">faucibus orci</a> luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. </p>

						<p>Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in,auctor ut, ligula. </p>

					</div>

				</main>

			</div><!--/ .page_wrapper -->

			<!-- - - - - - - - - - - - - - End page content - - - - - - - - - - - - - - - - -->

			
		</div>

		