<% provide(:title, "Contact") %>


		<!-- - - - - - - - - - - - - - End of Cookie Control & Old ie Message - - - - - - - - - - - - - - - - -->

		<div id="document_wrap">

			
			<!-- - - - - - - - - - - - - - Extended Block (image, gmap) - - - - - - - - - - - - - - - - -->

			<div class="extended_wrap">

				<!-- - - - - - - - - - - - - - Google Map - - - - - - - - - - - - - - - - -->

				<div id="gmap"></div>

				<!-- - - - - - - - - - - - - - End of Google Map - - - - - - - - - - - - - - - - -->

			</div>

			<!-- - - - - - - - - - - - - - End of Extended Block - - - - - - - - - - - - - - - - -->

			<!-- - - - - - - - - - - - - - Page content - - - - - - - - - - - - - - - - -->

			<div id="page_wrap">

				<main role="main">

					<div class="container">

						<div class="row">

							<!-- - - - - - - - - - - - - - Contact Info - - - - - - - - - - - - - - - - -->

							<aside role="complementary" class="col-sm-4">

								<h1>Contact Info</h1>

								<p>9863 - 9876 Mill Road, Cambridge, MG09 99HT</p>

								<ul>

									<li><span class="ci_item">Freephone:</span> +1 800 559 6580</li>
									<li><span class="ci_item">Telephone:</span> +1 800 603 6035</li>
									<li><span class="ci_item">FAX:</span> +1 800 889 9898</li>
									<li><span class="ci_item">E-mail:</span> <a href="mailto:#">mail@companyname.com</a></li>
									<li><span class="ci_item">Skype:</span> joker</li>

								</ul>

							</aside><!--/ [col] -->

							<!-- - - - - - - - - - - - - - End of Contact Info - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Contact Form Section - - - - - - - - - - - - - - - - -->

							<section class="col-sm-8">

								<h1>Send Us a Message</h1>

								<p class="cf_description">Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Fields marked * are required.</p>

								<form class="contactform" novalidate>

									<ul>

										<!-- - - - - - - - - - - - - - Form row - - - - - - - - - - - - - - - - -->

										<li class="row">
											
											<div class="col-sm-6">
												
												<input type="text" required name="cf_name" data-field-name="Name" data-min-characters="5" placeholder="Name*">

											</div><!--/ [col] -->

											<div class="col-sm-6">
												
												<input type="email" required name="cf_email" placeholder="Email*">

											</div><!--/ [col] -->

										</li>

										<!-- - - - - - - - - - - - - - End of Form row - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Form row - - - - - - - - - - - - - - - - -->

										<li class="row">
											
											<div class="col-xs-12">
												
												<input type="text" name="cf_subject" placeholder="Subject">

											</div><!--/ [col] -->

										</li>

										<!-- - - - - - - - - - - - - - End of Form row - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Form row - - - - - - - - - - - - - - - - -->

										<li class="row">
											
											<div class="col-xs-12">
												
												<textarea name="cf_message" data-field-name="Message" data-min-characters="20" required placeholder="Message*" rows="6"></textarea>

											</div><!--/ [col] -->

										</li>

										<!-- - - - - - - - - - - - - - End of Form row - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Form row - - - - - - - - - - - - - - - - -->

										<li class="row">
											
											<div class="col-xs-12">
												
												<button class="btn medium black">Send Message</button>

											</div><!--/ [col] -->

										</li>

										<!-- - - - - - - - - - - - - - End of Form row - - - - - - - - - - - - - - - - -->

									</ul>

								</form>

							</section><!--/ [col] -->

							<!-- - - - - - - - - - - - - - End of Contact Form Section - - - - - - - - - - - - - - - - -->
							
						</div><!--/ .row -->

					</div><!--/ .container -->

				</main><!--/ [role="main"] -->

			</div><!--/ .page_wrapper -->

			<!-- - - - - - - - - - - - - - End page content - - - - - - - - - - - - - - - - -->

		</div>
