<% provide(:title, "Home") %>

<!-- Intro -->
<section id="intro" class="intro">
    <!-- Static Intro -->
    <div class="bg-image overlay-dark dark-bg bg-fixed" data-background-img="/assets/Hopetoun_falls.jpg">
        <div class="js-fullscreen-height container">
            <div class="intro-content">
                <div class="intro-content-inner">
                    <h5>Digitally Focused</h5>
                    <h2 class="h2">NICOLAS ORTEGA-WARD</h2>
                    <div class="row">
                        <p class="lead col-md-6 col-md-offset-3">A versatile eye for all things film</p>
                    </div>
                    <br>
                    <div><a class="btn btn-md btn-white-line xs-hidden">Read More</a><span class="btn-space-10 xs-hidden"></span><a class="btn btn-md btn-white">Learn More</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Static Intro -->
</section>
<!-- End Intro -->
<div class="clearfix"></div>

<!--About Section-->
<section id="about" class="wow fadeIn ptb ptb-sm-80">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="h4">About NOW</h3>
                <div class="spacer-15"></div>
                <p class="lead">We accomofate your needs, corporate or personal. <a class="tipped" data-title="Sample Text" data-tipper-options='{"direction":"top"}'><b>Vivamus elementum</b></a> ultricies nisi vel augue. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante dapibus.</p>
            </div>
        </div>
        <div class="row mt-80">
            <!-- Welcome Content -->
            <div class="col-md-7 mb-30">
                <h4>WE PUT YOUR GOALS FIRST.</h4>
                <div class="spacer-15"></div>
                <p>At NOW Inc., we put you and your vision first.  Throughout the film making process you will be informed....BLAH BLAH BLAH</p>
                <div class="spacer-15"></div>
                <a class="btn-link-a">More About</a>
            </div>
            <!-- End Welcome Content -->

            <!-- Skills -->
            <div class="col-md-5">
                <div class="skillbar" data-percent="55%">
                    <div class="skillbar-title">Web design</div>
                    <div class="skill-bar-percent">55%</div>
                    <div class="skillbar-bar"></div>
                </div>

                <div class="skillbar" data-percent="80%">
                    <div class="skillbar-title">development</div>
                    <div class="skill-bar-percent">80%</div>
                    <div class="skillbar-bar"></div>
                </div>

                <div class="skillbar" data-percent="40%">
                    <div class="skillbar-title">Photography</div>
                    <div class="skill-bar-percent">40%</div>
                    <div class="skillbar-bar"></div>
                </div>

                <div class="skillbar" data-percent="70%">
                    <div class="skillbar-title">branding</div>
                    <div class="skill-bar-percent">70%</div>
                    <div class="skillbar-bar"></div>
                </div>
            </div>
            <!-- End Skills -->
        </div>
    </div>
</section>
<!-- End About Section-->
<hr />
<!-- Service Section -->
<section id="service" class="ptb ptb-sm-80">
    <div class="wow fadeInLeft container text-center">
        <h3>Our Services</h3>
        <div class="spacer-60"></div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
                <h5>Web Design</h5>
                <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem.</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class='ion'></i></div>
                <h5>Development</h5>
                <p>Donec sodales sagittis magna. hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus, augue velit cursus nunc.</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-social-apple-outline"></i></div>
                <h5>Branding</h5>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
                <h5>Photography</h5>
                <p>Excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
                <h5>Typography</h5>
                <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil.</p>
            </div>
            <div class="col-md-4 col-sm-6 mb-45">
                <div class="page-icon-top"><i class="ion ion-social-apple-outline"></i></div>
                <h5>Ui Design</h5>
                <p>Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Service Section -->
<!-- Process -->
<section id="process" class="ptb ptb-sm-80">
    <div class="wow fadeInLeft container text-center">
        <h3>Easy Process</h3>
        <div class="spacer-60"></div>
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="tipped" data-title="Step1 - Skype Interview" data-tipper-options='{"direction":"top"}'>
                    <div class="page-icon-top"><i class="ion ion-ios-people-outline"></i></div>
                    <h6>Interview</h6>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="tipped" data-title="Step2 - Project Plan" data-tipper-options='{"direction":"top"}'>
                    <div class="page-icon-top"><i class="ion ion-ios-paper-outline"></i></div>
                    <h6>Plan</h6>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="tipped" data-title="Step3 - Design" data-tipper-options='{"direction":"top"}'>
                    <div class="page-icon-top"><i class="ion ion-ios-compose-outline"></i></div>
                    <h6>Design</h6>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="tipped" data-title="Step4 - Development" data-tipper-options='{"direction":"top"}'>
                    <div class="page-icon-top"><i class="ion ion-ios-gear-outline"></i></div>
                    <h6>Development</h6>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="tipped" data-title="Step5 - Testing" data-tipper-options='{"direction":"top"}'>
                    <div class="page-icon-top"><i class="ion ion-ios-pulse"></i></div>
                    <h6>Testing</h6>
                </div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <div class="tipped" data-title="Step6 - Delivery" data-tipper-options='{"direction":"top"}'>
                    <div class="page-icon-top"><i class="ion ion-ios-clock-outline"></i></div>
                    <h6>Delivery</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Process -->

<hr />

<!-- End Intro -->