<% provide(:title, "Home") %>

<!-- - - - - - - - - - - - - - Page content - - - - - - - - - - - - - - - - -->

<div id="page_wrap" class="fullscreen vimeo_container">

	<div class="full_screen_container"></div>

	<!-- - - - - - - - - - - - - - Page Background - - - - - - - - - - - - - - - - -->

	<div class="fs_video">

		<iframe id="vimeo_video" src="http://player.vimeo.com/video/42829407?autoplay=1&amp;loop=0"></iframe>
		
	</div>

	<!-- - - - - - - - - - - - - - End Page Background - - - - - - - - - - - - - - - - -->

</div><!--/ .page_wrapper -->

<!-- - - - - - - - - - - - - - End page content - - - - - - - - - - - - - - - - -->
