<% provide(:title, "Portfolio") %>

<!-- Add dynamic rendering with the icones, possibly even caching-->
<!-- - - - - - - - - - - - - - Page content - - - - - - - - - - - - - - - - -->

<div id="page_wrap">

	<main role="main">

		<div class="container">

			<!-- - - - - - - - - - - - - - Single Portfolio Post - - - - - - - - - - - - - - - - -->

			<article class="portfolio_post single">

				<h1>Video Portfolio Post Page</h1>

				<!-- - - - - - - - - - - - - - Post meta - - - - - - - - - - - - - - - - -->

				<div class="post_meta">

					<div class="row table_layout">

						<div class="col-sm-3">

							<dl>
								<dt class="bold">Client:</dt>
								<dd>Lorem Ipsum</dd>
							</dl>

						</div><!--/ [col] -->

						<div class="col-sm-3">

							<dl>
								<dt class="bold">Category:</dt>
								<dd><a href="#">People</a>, <a href="#">Fashion</a></dd>
							</dl>

						</div><!--/ [col] -->

						<div class="col-sm-3">

							<dl>
								<dt class="bold">Website:</dt>
								<dd><a href="#">www.lorem-ipsum.com</a></dd>
							</dl>

						</div><!--/ [col] -->

						<div class="col-sm-3">

							<div class="share_post">

								<ul class="actions_list">

									<li>

										<!-- - - - - - - - - - - - - - Share buttons - - - - - - - - - - - - - - - - -->

										<div class="share_wrap">

											<span class="si-icon share action_btn"  data-event="click" data-icon-name="social"><%= render :partial => 'svg/social' %></span>

											<div class="addthis_sharing_toolbox"></div>

										</div>

										<!-- - - - - - - - - - - - - - End of Share buttons - - - - - - - - - - - - - - - - -->

									</li>

									<li>

										<span class="like_btn" data-amount="97">
											<span class="si-icon action_btn not_liked" data-width="27" data-height="23" data-event="mouseover" data-icon-name="likeDark" data-amount="97"></span>
											<span class="si-icon action_btn liked" data-width="27" data-height="23" data-event="mouseover" data-icon-name="likedDark" data-amount="97"></span>
										</span>

									</li>

								</ul>

							</div><!--/ .align_right -->

						</div><!--/ [col] -->

					</div><!--/ .row.table_layout -->

					<div class="row">

						<div class="col-xs-12">

							<dl>
								<dt class="bold">Description:</dt>
								<dd>Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel. </dd>
							</dl>

						</div><!--/ [col] -->

					</div><!--/ .row -->

				</div><!--/ .post_meta -->

				<!-- - - - - - - - - - - - - - End of Post meta - - - - - - - - - - - - - - - - -->

				<div class="post_extra">

					<div class="iframe_wrap">

						<iframe src="https://player.vimeo.com/video/83795090"></iframe>

					</div>

				</div>

			</article>

			<!-- - - - - - - - - - - - - - End Single Portfolio Post - - - - - - - - - - - - - - - - -->



		</div>

	</main>

</div>

<!-- - - - - - - - - - - - - - End page content - - - - - - - - - - - - - - - - -->