<!-- <footer class = 'footer'>
	<small>
		All media copyright by Nicholas Ortega Ward, NOW Inc.
	</small>
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			
		</ul>
	</nav>
</footer> -->

<!-- - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

<footer role="contentinfo" id="footer">

	<span class="copyright">&copy; 2015 NOW. All rights reserved.</span>

	<!-- - - - - - - - - - - - - - Social icons - - - - - - - - - - - - - - - - -->

	<ul class="social_links">

		<li>
			<a href="#" class="tooltip_container"><span class="tooltip top">Facebook</span><i class="icon-facebook-1"></i></a>
		</li>

		<li>
			<a href="#" class="tooltip_container"><span class="tooltip top">Instagramm</span><i class="icon-instagramm"></i></a>
		</li>

		<li>
			<a href="#" class="tooltip_container"><span class="tooltip top">Flickr</span><i class="icon-flickr"></i></a>
		</li>


		<li>
			<a href="#" class="tooltip_container"><span class="tooltip top">YouTube</span><i class="icon-youtube-play"></i></a>
		</li>

		<li>
			<a href="#" class="tooltip_container"><span class="tooltip top">Vimeo</span><i class="icon-vimeo-squared"></i></a>
		</li>

	</ul>

	<!-- - - - - - - - - - - - - - End Social icons - - - - - - - - - - - - - - - - -->

</footer>

<!-- - - - - - - - - - - - - - End Footer - - - - - - - - - - - - - - - - -->
