<!-- FOOTER -->
<footer class="footer pt-80">
    <div class="container">
        <div class="row mb-60">
            <!-- Logo -->
            <div class="col-md-3 col-sm-3 col-xs-12 mb-xs-30">
                <%= link_to(root_path) do %>
                    <a class="footer-logo">
                    <%= image_tag("NOW_Black", class: "logo-dark", title: "NOW") %>
                    </a>
                <% end %>
            </div>
            <!-- Logo -->

            <!-- Social -->
            <div class="col-md-3 col-md-offset-2 col-sm-4 col-xs-12">
                <ul class="social">
                    <li><a target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
                    <li><a target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
                    <li><a target="_blank" href="https://vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
                </ul>
            </div>
            <!-- End Social -->
        </div>
        <!--Footer Info -->
        <div class="row footer-info mb-60">
            <div class="col-md-3 col-sm-12 col-xs-12 mb-sm-30">
                <p class="mb-xs-0">We would be more then happy to talk to you about any job, big or small. We will fit your needs and determine the best course of action to portray your brand or image.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30 mb-xs-0">
                <ul class="link">
                    <li><a href="portfolio-grid-3col.html">Portfolio</a></li>
                    <li><a href="login-register.html">Login</a></li>
                    <li><a href="about-1.html">About</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 mb-sm-30">
                <ul class="link">
                    <li><a href="contact-1.html">Contact Us</a></li>
                    <li><a href="home.html">Home</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <p>5829 Rolling Drive, <br>Derwood, MD 20855 <br>USA.</p>
                <ul class="link-small">
                    <li><a href="mailto:yourname@domain.com"><i class="fa fa-envelope-o left"></i>nicolasortegaward@gmail.com</a></li>
                    <li><a><i class="fa fa-phone left"></i>+1 (954) 804 8050</a></li>
                </ul>
            </div>
        </div>
        <!-- End Footer Info -->
    </div>

    <hr />

    <!-- Copyright Bar -->
    <section class="copyright ptb-60">
        <div class="container">
            <p class="">
                © 2016 <a><b>Site made by Andrew Graham-Yooll</b></a>. All Rights Reserved, NOW Inc.
                <br />
                All recreations of content must have written permission from NOW INC.</a>
            </p>
        </div>
    </section>
    <!-- End Copyright Bar -->

</footer>
<!-- END FOOTER -->
