
<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

<header role="banner" id="header" class="vm transparent">

	<!-- - - - - - - - - - - - - - Logo - - - - - - - - - - - - - - - - -->

	<a href="index.html" class="logo">
		
		<img src="images/logo.png" alt="">

	</a>

	<!-- - - - - - - - - - - - - - End Logo - - - - - - - - - - - - - - - - -->


	<!-- - - - - - - - - - - - - - Main Navigation Container - - - - - - - - - - - - - - - - -->

	<div id="vertical_menu_wrap" class="vm_wrap">

		<!-- - - - - - - - - - - - - - Main Navigation - - - - - - - - - - - - - - - - -->

		<nav>

			<ul class="navigation">

				<li class="has_submenu current">

					<a><% link_to "Home", root_path %></a>

					<!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

					<ul class="submenu">

						<li><a href="index.html">Fullscreen slider</a></li>
						<li><a href="home_rev_slider.html">Revolution slider</a></li>
						<li><a href="home_ribbon_slider.html">Ribbon slider</a></li>
						<li><a href="home_masonry_albums.html">Masonry albums</a></li>
						<li><a href="home_grid_albums.html">Grid albums</a></li>
						<li><a href="home_masonry_portfolio.html">Masonry portfolio</a></li>
						<li><a href="home_grid_portfolio.html">Grid portfolio</a></li>
						<li><a href="home_kenburns_slideshow.html">Kenburns</a></li>
						<li><a href="home_masonry_wall.html">Masonry wall</a></li>
						<li><a href="home_grid_wall.html">Grid wall</a></li>
						<li><a href="home_bg_image.html">Background image</a></li>
						<li><a href="home_bg_youtube_video.html">Background Youtube video</a></li>
						<li><a href="home_bg_vimeo_video.html">Background Vimeo video</a></li>

					</ul>

					<!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

				</li>

				<li class="has_submenu">

					<a href="pages_about.html">Pages</a>

					<!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

					<ul class="submenu">

						<li class="current"><a href="pages_about.html">About</a></li>
						<li><a href="pages_contact.html">Contact</a></li>
						<li><a href="pages_full_width.html">Full width page</a></li>
						<li><a href="pages_with_sidebar.html">Page with sidebar</a></li>
						<li><a href="pages_coming_soon.html">Coming soon</a></li>
						<li><a href="pages_404.html">404 page</a></li>

					</ul>

					<!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

				</li>

				<li class="has_submenu">

					<a href="portfolio_masonry_full_width.html">Portfolio</a>

					<!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

					<ul class="submenu">

						<li class="has_submenu">

							<a><%= link_to("Sub Menu", portfolio_path) %></a>

							<!-- - - - - - - - - - - - - - Submenu (level 3) - - - - - - - - - - - - - - - - -->

							<ul class="submenu">

								<li><a href="portfolio_masonry_full_width.html">Full width</a></li>
								<li><a href="portfolio_masonry_2_columns.html">2 columns</a></li>
								<li><a href="portfolio_masonry_3_columns.html">3 columns</a></li>
								<li><a href="portfolio_masonry_4_columns.html">4 columns</a></li>

							</ul>

							<!-- - - - - - - - - - - - - - Submenu (level 3) - - - - - - - - - - - - - - - - -->

						</li>
						<li class="has_submenu">

							<a href="portfolio_grid_full_width.html">Grid</a>

							<!-- - - - - - - - - - - - - - Submenu (level 3) - - - - - - - - - - - - - - - - -->

							<ul class="submenu">

								<li><a href="portfolio_grid_full_width.html">Full width</a></li>
								<li><a href="portfolio_grid_2_columns.html">2 columns</a></li>
								<li><a href="portfolio_grid_3_columns.html">3 columns</a></li>
								<li><a href="portfolio_grid_4_columns.html">4 columns</a></li>

							</ul>

							<!-- - - - - - - - - - - - - - Submenu (level 3) - - - - - - - - - - - - - - - - -->

						</li>
						<li><a href="portfolio_image_list_post.html">Image list post with top image</a></li>
						<li><a href="portfolio_image_slideshow_post.html">Image slideshow post</a></li>
						<li><a href="portfolio_video_post.html">Video post</a></li>
						<li><a href="portfolio_audio_post.html">Audio post with top image</a></li>
						<li><a href="portfolio_mixed_list_post.html">Mixed list post</a></li>
						<li><a href="portfolio_post_with_sidebar.html">Post with sidebar</a></li>
						<li><a href="portfolio_ribbon_post.html">Ribbon post</a></li>

					</ul>

					<!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

				</li>

				<li class="has_submenu">

					<a href="galleries_masonry_albums.html">Galleries</a>

					<!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

					<ul class="submenu">

						<li><a href="galleries_masonry_albums.html">Masonry albums</a></li>
						<li><a href="galleries_grid_albums.html">Grid albums</a></li>
						<li><a href="galleries_ribbon.html">Ribbon gallery</a></li>
						<li><a href="galleries_flow.html">Flow gallery</a></li>
						<li><a href="galleries_kenburns.html">Kenburns</a></li>
						<li><a href="galleries_masonry_wall.html">Masonry wall</a></li>
						<li><a href="galleries_grid_wall.html">Grid wall</a></li>
						<li><a href="galleries_protected.html">Protected gallery</a></li>

					</ul>

					<!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

				</li>

				<li class="has_submenu">

					<a href="features_elements.html">Features</a>

					<!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

					<ul class="submenu">

						<li><a href="features_elements.html">Elements</a></li>
						<li><a href="features_typography.html">Typography</a></li>
						<li><a href="features_columns.html">Columns</a></li>
						<li><a href="RTL/index.html">RTL layout</a></li>

					</ul>

					<!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

				</li>

				<li class="has_submenu">

					<a href="blog_full_width.html">Blog</a>

					<!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

					<ul class="submenu">

						<li><a href="blog_full_width.html">Full width blog</a></li>
						<li><a href="blog_with_sidebar.html">Blog with sidebar</a></li>
						<li><a href="blog_masonry.html">Masonry blog</a></li>
						<li><a href="blog_full_width_post.html">Full width single blog post</a></li>
						<li><a href="blog_post_with_right_sidebar.html">Single blog post with right sidebar</a></li>
						<li><a href="blog_post_with_left_sidebar.html">Single blog post with left sidebar</a></li>
						<li><a href="blog_post_with_extended_image.html">Single blog post with extended featured image</a></li>

					</ul>

					<!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

				</li>

				<li class="has_submenu">

					<a href="shop_full_width_front_page.html">Shop</a>

					<!-- - - - - - - - - - - - - - Submenu (level 2) - - - - - - - - - - - - - - - - -->

					<ul class="submenu">

						<li><a href="shop_full_width_front_page.html">Full width front page</a></li>
						<li><a href="shop_front_page_with_sidebar.html">Front page with sidebar</a></li>
						<li><a href="shop_full_width_product_page.html">Full width product page</a></li>
						<li><a href="shop_product_page_with_sidebar.html">Product page with sidebar</a></li>
						<li><a href="shop_shopping_cart.html">Shopping cart</a></li>
						<li><a href="shop_checkout.html">Checkout</a></li>

					</ul>

					<!-- - - - - - - - - - - - - - End of Submenu (level 2) - - - - - - - - - - - - - - - - -->

				</li>

			</ul>

		</nav>

		<!-- - - - - - - - - - - - - - End of Main Navigation - - - - - - - - - - - - - - - - -->

	</div><!--/ #vertical_menu_wrap -->

	<!-- - - - - - - - - - - - - - End of Main Navigation Container - - - - - - - - - - - - - - - - -->

	<!-- - - - - - - - - - - - - - Top Buttons - - - - - - - - - - - - - - - - -->

	<div id="top_actions_wrap">

		<!-- - - - - - - - - - - - - - Searchform - - - - - - - - - - - - - - - - -->

		<form role="search" class="nav_searchform">

			<input type="search" placeholder="Search..." name="">

			<button><span class="si-icon" data-width="24" data-height="24" data-event="mouseover" data-icon-name="search"></span></button>

		</form>

		<!-- - - - - - - - - - - - - - End of Searchform - - - - - - - - - - - - - - - - -->

		<span id="toggle_menu" class="si-icon" data-width="36" data-height="36" data-event="click" data-icon-name="hamburgerCross">
			<?xml version="1.0" encoding="utf-8"?>
			<svg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
				<g>
					<path fill="none" stroke="#fff" stroke-width="5" stroke-linejoin="bevel" d="m 5.0916789,20.818994 53.8166421,0"/>
					<path fill="none" stroke="#fff" stroke-width="5" stroke-linejoin="bevel" d="m 5.1969746,31.909063 53.8166424,0"/>
					<path fill="none" stroke="#fff" stroke-width="5" stroke-linejoin="bevel" d="m 5.0916788,42.95698 53.8166422,0"/>
				</g>
			</svg>
		</span>

	</div><!--/ #top_btns_wrap -->

	<!-- - - - - - - - - - - - - - End of Top Buttons - - - - - - - - - - - - - - - - -->

</header>

<!-- - - - - - - - - - - - - - End Header - - - - - - - - - - - - - - - - -->